@model AudioShop.ViewModels.HomeViewModel

<div class="container">
    <h1>Популярні товари:</h1>
    <div class="row mt-5 mb-2">
        @await Html.PartialAsync("AllProducts", Model.favProducts)
    </div>
</div>