<div>
    <h4>Страница администратора</h4>

    @if (ViewBag.IsAdmin)
    {
        <p>Вы вошли как администратор.</p>
        <!-- Здесь можно добавить дополнительный контент для администратора -->
    }
    else
    {
        <p>У вас недостаточно прав для просмотра этой страницы.</p>
    }
</div>