@model AudioShop.ViewModels.ProductEditViewModel

<form asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Product.Id"></label>
        <input asp-for="Product.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductType"></label>
        <input asp-for="Product.ProductType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Brand"></label>
        <input asp-for="Product.Brand" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Description"></label>
        <textarea asp-for="Product.Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Product.ShortDesc"></label>
        <input asp-for="Product.ShortDesc" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Img"></label>
        <input asp-for="Product.Img" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.IsFavorite"></label>
        <input asp-for="Product.IsFavorite" type="checkbox" class="form-check-input" />
    </div>
    <div class="form-group">
        <label asp-for="Product.IsAvailible"></label>
        <input asp-for="Product.IsAvailible" type="checkbox" class="form-check-input" />
    </div>

    <div class="form-group">
        <label asp-for="Product.CategoryId"></label>
        <input asp-for="Product.CategoryId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Category"></label>
        <input asp-for="Product.Category" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Images" class="control-label"></label>
        <input asp-for="Images" type="file" multiple class="form-control-file" />
    </div>

    @if (Model.Product != null && Model.Product.ImageUrls != null)
    {
        <div class="form-group">
            <label>Текущие изображения</label>
            @for (int i = 0; i < Model.Product.ImageUrls.Count; i++)
            {
                <div>
                    <img src="@Url.Content($"{Model.Product.ImageUrls[i].ImageUrls}?t={DateTime.Now.Ticks}")" alt="Product Image" style="max-width: 200px; max-height: 200px;" />
                    <input type="checkbox" name="DeletedImageUrls" value="@Model.Product.ImageUrls[i].ImageUrls" /> Удалить
                </div>
            }
        </div>
    }


    @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewBag.ErrorMessages)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
